@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

.body {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  background-color: #e2d7d1;
  background-image: url("Imagenes/fondo.png");

}

.formulario {
  display: block;
  width: 50%;
  max-width: 100%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #e2d7d1;
  box-shadow: 0 10px 20px 5px rgba(148, 152, 104, 0.8);
  position: relative;
}

.formulario__title {
  text-align: center;
  margin-top: 0;
  color: rgb(217, 128, 50);
  margin-bottom: 35px;

}

.formulario__input,
.formulario__label,
.formulario__submit {
  display: block;
  width: 100%;
  font-size: 1.3em;


}

.formulario__input {
  height: 50px;
  background: rgba(148, 152, 104, 0.2);
  border: 1px solid rgba(217, 128, 50, 0.90);
  margin-bottom: 25px;
  border-radius: 15px;
}


.formulario__label {
  padding-left: 15px;
  position: absolute;
  color: rgb(118, 96, 78);
  border: none;


}

.lbl{
  display: inline-block;
  width: 33px;
  height: 17px;
  background: #76604e;
  border-radius: 100px ;
  cursor: pointer;
  position: relative;
  transition: 0.2s;

}

.lbl::after{
  content:'' ;
  display:block;
  width: 13px;
  height: 13px;
  background: #d98032;
  border-radius: 100px ;
  position:absolute;
  top: 2px ;
  left: 2px ;
  transition: 0.2s;
  
}
#switch:checked + .lbl::after{
left: 18px;
}

#switch:checked + .lbl{
  background: #949868;
  }

#switch{
    display: none;
    }

.switch_title{
  position: relative;
  color: #76604e;
  size: 15px;
  bottom: 40px;
  left: 50px;

}


.formulario__submit {
  appearance: none;
  background-color: transparent;
  border: 2px solid #76604e;
  border-radius: 15px;
  box-sizing: border-box;
  color: #949868;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}


.formulario__submit:disabled {
  pointer-events: none;
}

.formulario__submit:hover {
  color: #e2d7d1;
  background-color: #d98032;
  box-shadow: rgba(118, 96, 78, 0.90) 0 8px 15px;
  transform: translateY(-2px);
}

.formulario__submit:active {
  box-shadow: none;
  transform: translateY(0);
}

.timer {
  margin-left: auto;
  margin-right: auto;

}

.time-container {}

.time__title {
  font-size: 10px;
}

.wrap {}

.widget {}

.fecha {}

.diaSemana {}

.dia {}

.mes {}

.anio {}

.reloj {}

.horas {}

.dia {}

.minutos {}

.caja-segundos {}

.ampm {}

.segundos {}